<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DBCS" connectionString="Data Source=TSOMI\SQLEXPRESS;Initial Catalog=Sokokapu_Stock_Manager;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SSM.Properties.Settings.Sokokapu_Stock_ManagerConnectionString"
      connectionString="Data Source=TSOMI\SQLEXPRESS;Initial Catalog=Sokokapu_Stock_Manager;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>